<div
  class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
      {{ title }}
    </h5>
    <a
      [routerLink]="pageLink"
      class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      {{ btnText }}
    </a>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <ng-content></ng-content>
    </ul>
  </div>
</div>
