<div class="grid lg:grid-cols-2 gap-4">
  <app-card-list
    title="Latest Customers"
    btnText="View all"
    pageLink="/customers"
  >
    @for(customer of customers$ | async; track $index) {
    <li class="py-3 sm:py-4">
      <div class="flex items-center">
        <div class="shrink-0">
          <img
            class="w-8 h-8 rounded-full"
            [src]="customer.image_url"
            [alt]="customer.name"
          />
        </div>
        <div class="flex-1 min-w-0 me-4">
          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
            {{ customer.name }}
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            {{ customer.email }}
          </p>
        </div>
        <div
          class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
        >
          data
        </div>
      </div>
    </li>
    }
  </app-card-list>
  <app-card-list
    title="Latest Invoices"
    btnText="View all"
    pageLink="/invoices"
  >
    @for(invoice of invoices$ | async; track $index) {
    <li class="py-3 sm:py-4">
      <div class="flex items-center">
        <div class="flex-1 min-w-0 me-4">
          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
            {{ invoice.date }}
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            {{ invoice.status }}
          </p>
        </div>
        <div
          class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
        >
          {{ invoice.amount | currency }}
        </div>
      </div>
    </li>
    }
  </app-card-list>
</div>
